@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

html * {
    font-family: Open Sans, Oswald;
}

.container {
    color: #fff;
    background-color: #004175;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    
}

.info {
    color: #fff;
    text-decoration: none !important;

}

.bullet {
    list-style-type: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.space {
    margin-left: 10px;
}
p {
margin: 20px 140px 20px 140px;
}
.hours {
    margin-left: 140px;
}
.grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
  }
  .card {
    border-radius: 10px;
   border: 1px solid #808080;
   margin: 5px;
   padding: 5px;
  }
  .dogs {
    width:100%;
  }
  h4 {
    font-weight:bolder
  }